@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  transition: all 0.3s ease-out 0s;
  font-family: "Hind", sans-serif;
}

a {
  text-decoration: none;
  font-family: "Hind", sans-serif;
}

.content {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.title {
  font-size: 60px;
  line-height: 1;
  margin-bottom: 8px;
}

.s-title {
  font-size: 40px;
  line-height: 1;
  margin-bottom: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Hind", sans-serif;
  color: #0e1133;
  margin-top: 0;
  font-weight: 700;
  line-height: 1.2;
  transition: all 0.3s ease-out 0s;
}

.online {
  position: relative;
  z-index: 1;
}

.yellow-shape {
  width: 120px;
  position: absolute;
  bottom: 22px;
  left: -8px;
  z-index: -1;
  animation: yellow-shape 2s infinite;
}

.yellow-shape1 {
  width: 120px;
  position: absolute;
  bottom: 15px;
  left: -8px;
  z-index: -1;
  right: -10px;
  animation: yellow-shape1 2s infinite;
}

.yellow-shape2 {
  width: 120px;
  position: absolute;
  bottom: 15px;
  left: -8px;
  z-index: -1;
  animation: yellow-shape2 2.5s infinite;
}

.yellow-shape3 {
  width: 120px;
  position: absolute;
  bottom: 15px;
  left: -8px;
  z-index: -1;
  animation: yellow-shape3 2s infinite;
}

@keyframes yellow-shape {
  0% {
    width: 0%;
  }
  40% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
@keyframes yellow-shape1 {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}
@keyframes yellow-shape2 {
  0% {
    width: 0%;
  }
  40% {
    width: 110;
  }
  100% {
    width: 110%;
  }
}
@keyframes yellow-shape3 {
  0% {
    width: 0%;
  }
  40% {
    width: 120%;
  }
  100% {
    width: 120%;
  }
}
.header {
  width: 100%;
  height: 90px;
  background: #ffffff;
  box-shadow: 0 10px 20px rgba(8, 0, 42, 0.0784313725);
  padding: 0 70px;
  display: flex;
  align-items: center;
  left: 0;
  position: fixed;
  z-index: 15;
}
.header .header-left {
  display: flex;
  gap: 80px;
  height: 100px;
  align-items: center;
}
.header .header-left nav {
  display: flex;
  align-items: center;
  padding: 3px 0 0 30px;
  position: relative;
}
.header .header-left nav::after {
  content: "";
  position: absolute;
  left: 0;
  top: 60%;
  transform: translateY(-50%);
  width: 1px;
  height: 40px;
  background: #c9ccd4;
}
.header .header-left nav ul li {
  position: relative;
}
.header .header-left nav ul li a {
  display: flex;
  align-items: center;
}
.header .header-left nav ul li a .icons {
  font-size: 16px;
  font-family: "Hind", sans-serif;
  display: block;
}
.header .header-left nav ul li a .icons i {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 0.3;
  font-size: 20px;
  color: black;
}
.header .header-left nav ul li a .cat-padd {
  padding: 3px 0 0 14px;
  line-height: 1;
  font-weight: 500;
  color: #0e1133;
}
.header .header-left nav ul li:hover .n-d-menu {
  visibility: visible;
  opacity: 1;
  top: calc(100% + 10px);
}
.header .header-left nav ul li .n-d-menu {
  position: absolute;
  left: 0;
  width: 200px;
  padding: 17px 0 15px;
  background: #ffffff;
  box-shadow: 0 10px 20px rgba(8, 0, 42, 0.0784313725);
  border-radius: 4px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out 0s;
  top: calc(100% + 30px);
}
.header .header-left nav ul li .n-d-menu li:hover a {
  color: #2b4eff;
}
.header .header-left nav ul li .n-d-menu li a {
  width: 100%;
  display: block;
  padding: 3px 30px;
  text-transform: capitalize;
  color: #6d6e75;
  font-weight: 500;
  position: relative;
}
.header .header-right {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
}
.header .header-right .h-r-links ul {
  display: flex;
  gap: 30px;
}
.header .header-right .h-r-links ul li {
  position: relative;
}
.header .header-right .h-r-links ul li:hover .fa-angle-down {
  color: #2b4eff;
}
.header .header-right .h-r-links ul li:hover a {
  color: #2b4eff;
}
.header .header-right .h-r-links ul li a {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #0e1133;
  padding: 35px 0;
  text-transform: capitalize;
}
.header .header-right .h-r-links ul li .fa-angle-down {
  font-size: 12px;
  color: rgb(14, 17, 51);
  margin-left: 5px;
  display: inline-block;
}
.header .header-right .h-r-links ul .h-d {
  position: relative;
}
.header .header-right .h-r-links ul .h-d:hover #h-d-menu {
  top: 97%;
  visibility: visible;
  opacity: 1;
}
.header .header-right .h-r-links ul .h-d #h-d-menu {
  top: 120%;
  display: block;
  position: absolute;
  left: 0;
  width: 200px;
  background: #ffffff;
  z-index: 99;
  box-shadow: 0 30px 70px rgba(11, 6, 70, 0.0784313725);
  visibility: hidden;
  opacity: 0;
}
.header .header-right .h-r-links ul .h-d #h-d-menu li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
  margin: 0;
}
.header .header-right .h-r-links ul .h-d #h-d-menu li a {
  padding: 15px 25px;
  font-size: 13px;
  position: relative;
  z-index: 1;
  color: #0e1133;
  width: 100%;
  display: inline-block;
  font-weight: 500;
  position: relative;
  background: #2b4eff;
  transition: 0.5s;
}
.header .header-right .h-r-links ul .h-d #h-d-menu li a:hover {
  color: #fff;
}
.header .header-right .h-r-links ul .h-d #h-d-menu li a:hover::before {
  transform-origin: right;
  transform: scaleX(0);
}
.header .header-right .h-r-links ul .h-d #h-d-menu li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
.header .header-right .h-r-links ul .c-d:hover #c-d-menu {
  top: 97%;
  visibility: visible;
  opacity: 1;
}
.header .header-right .h-r-links ul .c-d #c-d-menu {
  top: 120%;
  display: block;
  position: absolute;
  left: 0;
  width: 200px;
  background: #ffffff;
  z-index: 99;
  box-shadow: 0 30px 70px rgba(11, 6, 70, 0.0784313725);
  visibility: hidden;
  opacity: 0;
}
.header .header-right .h-r-links ul .c-d #c-d-menu li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
  margin: 0;
}
.header .header-right .h-r-links ul .c-d #c-d-menu li a {
  padding: 15px 25px;
  font-size: 13px;
  position: relative;
  z-index: 1;
  color: #0e1133;
  width: 100%;
  display: inline-block;
  font-weight: 500;
  position: relative;
  background: #2b4eff;
  transition: 0.5s;
}
.header .header-right .h-r-links ul .c-d #c-d-menu li a:hover {
  color: #fff;
}
.header .header-right .h-r-links ul .c-d #c-d-menu li a:hover::before {
  transform-origin: right;
  transform: scaleX(0);
}
.header .header-right .h-r-links ul .c-d #c-d-menu li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
.header .header-right .h-r-links ul .b-d:hover #b-d-menu {
  top: 97%;
  visibility: visible;
  opacity: 1;
}
.header .header-right .h-r-links ul .b-d #b-d-menu {
  top: 120%;
  display: block;
  position: absolute;
  left: 0;
  width: 200px;
  background: #ffffff;
  z-index: 99;
  box-shadow: 0 30px 70px rgba(11, 6, 70, 0.0784313725);
  visibility: hidden;
  opacity: 0;
}
.header .header-right .h-r-links ul .b-d #b-d-menu li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
  margin: 0;
}
.header .header-right .h-r-links ul .b-d #b-d-menu li a {
  padding: 15px 25px;
  font-size: 13px;
  position: relative;
  z-index: 1;
  color: #0e1133;
  width: 100%;
  display: inline-block;
  font-weight: 500;
  position: relative;
  background: #2b4eff;
  transition: 0.5s;
}
.header .header-right .h-r-links ul .b-d #b-d-menu li a:hover {
  color: #fff;
}
.header .header-right .h-r-links ul .b-d #b-d-menu li a:hover::before {
  transform-origin: right;
  transform: scaleX(0);
}
.header .header-right .h-r-links ul .b-d #b-d-menu li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
.header .header-right .h-r-links ul .p-d:hover #p-d-menu {
  top: 97%;
  visibility: visible;
  opacity: 1;
}
.header .header-right .h-r-links ul .p-d #p-d-menu {
  top: 120%;
  display: block;
  position: absolute;
  left: 0;
  width: 200px;
  background: #ffffff;
  z-index: 99;
  box-shadow: 0 30px 70px rgba(11, 6, 70, 0.0784313725);
  visibility: hidden;
  opacity: 0;
}
.header .header-right .h-r-links ul .p-d #p-d-menu li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
  margin: 0;
}
.header .header-right .h-r-links ul .p-d #p-d-menu li a {
  padding: 15px 25px;
  font-size: 13px;
  position: relative;
  z-index: 1;
  color: #0e1133;
  width: 100%;
  display: inline-block;
  font-weight: 500;
  position: relative;
  background: #2b4eff;
  transition: 0.5s;
}
.header .header-right .h-r-links ul .p-d #p-d-menu li a:hover {
  color: #fff;
}
.header .header-right .h-r-links ul .p-d #p-d-menu li a:hover::before {
  transform-origin: right;
  transform: scaleX(0);
}
.header .header-right .h-r-links ul .p-d #p-d-menu li a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}
.header .header-right .h-r-search {
  display: flex;
}
.header .header-right .h-r-search form {
  position: relative;
  margin-left: 50px;
}
.header .header-right .h-r-search form input {
  width: 280px;
  height: 50px;
  line-height: 20px;
  border-radius: 4px;
  outline: none;
  background-color: #edeef3;
  border: 1px solid rgb(255, 255, 255);
  font-size: 16px;
  padding: 25px 65px 20px 55px;
}
.header .header-right .h-r-search form a {
  position: absolute;
  left: 10%;
  top: 30%;
}
.header .header-right .h-r-search form a i {
  color: #0e1133;
  font-size: 14px;
}
.header .header-right .h-r-search form .basket {
  position: absolute;
  top: 18px;
  right: 22px;
}
.header .header-right .h-r-search form .basket .basket-relative {
  padding-left: 18px;
  align-items: center;
  position: relative;
}
.header .header-right .h-r-search form .basket .basket-relative::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -18px;
  width: 2px;
  height: 30px;
  background: #dbdfe9;
}
.header .header-right .h-r-search form .basket .basket-relative a:hover span {
  background: #0e1133;
}
.header .header-right .h-r-search form .basket .basket-relative i {
  font-size: 16px;
}
.header .header-right .h-r-search form .basket .basket-relative span {
  position: absolute;
  top: -12px;
  right: -12px;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 22px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background: #2b4eff;
  border-radius: 50%;
  font-weight: 500;
  box-shadow: 0 10px 20px rgba(4, 23, 118, 0.3019607843);
}
.header .header-right .h-r-search .try {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.header .header-right .h-r-search .try a {
  display: inline-block;
  height: 50px;
  line-height: 52px;
  text-align: center;
  padding: 0 25px;
  color: #fff;
  background: #2b4eff;
  border-radius: 4px;
  font-weight: 500;
}
.header .header-right .h-r-search .try a:hover {
  box-shadow: 0 10px 24px rgba(4, 23, 118, 0.3019607843);
}

.section1 {
  position: relative;
  width: 100%;
  min-height: 850px;
  background-color: #edeef3;
  padding-top: 180px;
}
.section1 .img-1 {
  position: absolute;
  left: 3%;
  animation: rain 20s infinite;
}
.section1 .img-2 {
  top: 25%;
  position: absolute;
}
.section1 .img-3 {
  position: absolute;
  right: 0;
  top: 50%;
}
.section1 .content .s1-left {
  width: 50%;
  margin-top: 70px;
}
.section1 .content .s1-left p {
  font-size: 22px;
  color: #0e1133;
  padding-right: 130px;
  line-height: 30px;
  margin-bottom: 28px;
}
.section1 .content .s1-left a {
  display: inline-block;
  height: 50px;
  line-height: 52px;
  text-align: center;
  padding: 0 25px;
  color: #fff;
  background: #2b4eff;
  border-radius: 4px;
  font-weight: 500;
  text-transform: lowercase;
}
.section1 .content .s1-left a:hover {
  box-shadow: 0 10px 24px rgba(4, 23, 118, 0.3019607843);
}
.section1 .content .s1-right {
  width: 50%;
  display: flex;
  gap: 30px;
  position: relative;
}
.section1 .content .s1-right .s1-r-b-img {
  max-width: 400px;
  max-height: 460px;
  border-radius: 40px 4px;
  box-shadow: 0 30px 60px rgba(1, 11, 60, 0.1411764706);
  z-index: 2;
}
.section1 .content .s1-right .s1-r-s-img {
  max-width: 200px;
  max-height: 240px;
  border-radius: 4px 40px;
  box-shadow: 0 30px 60px rgba(1, 11, 60, 0.1411764706);
  margin-top: 50px;
}
.section1 .content .s1-right .bg-img1 {
  top: -50px;
  right: 15%;
  position: absolute;
  z-index: -1;
}
.section1 .content .s1-right .bg-img2 {
  bottom: -47px;
  right: 1%;
  z-index: -1;
  position: absolute;
}
.section1 .content .s1-right .bg-img3 {
  position: absolute;
  z-index: 1;
  bottom: -25px;
  left: -30px;
  animation: hero-dot-1 5s linear 0s infinite alternate;
}
.section1 .content .s1-right .animate-div {
  position: absolute;
  bottom: 60px;
  right: 0px;
  padding: 15px 25px 20px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 30px 60px rgba(1, 11, 60, 0.1411764706);
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: hero-bounce;
  z-index: 3;
}
.section1 .content .s1-right .animate-div h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1;
}

@keyframes rain {
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes hero-dot-1 {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-100px);
  }
}
@keyframes hero-bounce {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-30px);
  }
  30% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}
.section2 {
  padding: 120px 0 70px 0;
}
.section2 .content .content-inside {
  width: 100%;
  padding: 0 12px;
}
.section2 .content .content-inside .s2-title .s2-p-link {
  float: right;
}
.section2 .content .content-inside .s2-title .s2-p-link a {
  color: #6d6e75;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  padding-right: 21px;
  display: inline-block;
  font-family: "Hind", sans-serif;
}
.section2 .content .content-inside .s2-title .s2-p-link a:hover {
  color: #2b4eef;
}
.section2 .content .content-inside .s2-title .s2-p-link a:hover .first-arrow {
  right: 0;
  visibility: visible;
  opacity: 1;
}
.section2 .content .content-inside .s2-title .s2-p-link a:hover .second-arrow {
  right: -10px;
  visibility: hidden;
  opacity: 0;
}
.section2 .content .content-inside .s2-title .s2-p-link a i {
  font-size: 14px;
  position: absolute;
  top: 8px;
  transform: translateY(-50%);
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
}
.section2 .content .content-inside .s2-title .s2-p-link a .first-arrow {
  right: 10%;
  visibility: hidden;
  opacity: 0;
}
.section2 .content .content-inside .s2-title .s2-p-link a .second-arrow {
  right: 0;
}
.section2 .content .content-inside .big-box {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 30px 0;
  gap: 25px;
}
.section2 .content .content-inside .big-box .s2-box {
  padding: 20px 40px;
  border-radius: 6px;
  border: 2px solid #eef0f6;
  display: flex;
  align-items: center;
  gap: 30px;
}
.section2 .content .content-inside .big-box .s2-box:hover {
  background: #2b4eff;
}
.section2 .content .content-inside .big-box .s2-box:hover .box-icon i {
  color: #fff;
}
.section2 .content .content-inside .big-box .s2-box:hover .box-text a {
  color: #fff;
}
.section2 .content .content-inside .big-box .s2-box:hover .box-text p {
  color: #fff;
}
.section2 .content .content-inside .big-box .s2-box .box-icon i {
  font-size: 40px;
  color: #2b4eff;
}
.section2 .content .content-inside .big-box .s2-box .box-text {
  line-height: 1.2;
}
.section2 .content .content-inside .big-box .s2-box .box-text a {
  color: #0e1133;
  margin-top: 0;
  font-weight: 700;
  font-size: 20px;
  transition: 1s;
}
.section2 .content .content-inside .big-box .s2-box .box-text p {
  font-weight: 500;
  margin-bottom: 0;
  font-size: 16px;
  color: #6d6e75;
}

.section3 {
  padding-bottom: 110px;
  width: 100%;
}
.section3 .content {
  width: 1200px;
}
.section3 .content .s3-b-b {
  width: 100%;
  padding: 0 12px;
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
}
.section3 .content .s3-b-b .s3-boxes {
  padding: 50px 40px;
  background-image: url("https://ng-educal-by.netlify.app/assets/img/banner/banner-bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  display: flex;
  position: relative;
}
.section3 .content .s3-b-b .s3-boxes .s3-b-t {
  z-index: 5;
  position: absolute;
}
.section3 .content .s3-b-b .s3-boxes .s3-b-t span {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background: #fc4389;
  display: inline-block;
  height: 20px;
  line-height: 22px;
  padding: 0 14px;
  margin-bottom: 15px;
  border-radius: 10px;
  text-transform: capitalize;
}
.section3 .content .s3-b-b .s3-boxes .s3-b-t h3 {
  font-size: 26px;
  margin-bottom: 30px;
  z-index: 3;
}
.section3 .content .s3-b-b .s3-boxes .s3-b-t h3 a {
  color: inherit;
}
.section3 .content .s3-b-b .s3-boxes .s3-b-t .s3-link {
  height: 34px;
  line-height: 36px;
  padding: 0 20px;
  font-size: 14px;
  text-transform: capitalize;
  color: #fff;
  background: #2b4eff;
  border-radius: 4px;
  font-weight: 500;
  display: inline-block;
  text-align: center;
}
.section3 .content .s3-b-b .s3-boxes .s3-b-t .s3-link:hover {
  color: #fff;
  box-shadow: 0 10px 24px rgba(4, 23, 118, 0.3019607843);
}
.section3 .content .s3-b-b .s3-boxes .s3-img {
  position: absolute;
  top: 56%;
  transform: translateY(-50%);
  right: 10px;
}
.section3 .content .s3-b-b .s3-boxes2 {
  padding: 50px 40px;
  background-image: url("	https://ng-educal-by.netlify.app/assets/img/banner/banner-bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  display: flex;
  position: relative;
}
.section3 .content .s3-b-b .s3-boxes2 .s3-b-t {
  position: relative;
  z-index: 1;
}
.section3 .content .s3-b-b .s3-boxes2 .s3-b-t span {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  background: #ff652e;
  height: 20px;
  line-height: 22px;
  padding: 0 14px;
  margin-bottom: 15px;
  border-radius: 10px;
  text-transform: capitalize;
}
.section3 .content .s3-b-b .s3-boxes2 .s3-b-t h3 {
  font-size: 26px;
  margin-bottom: 30px;
  position: relative;
}
.section3 .content .s3-b-b .s3-boxes2 .s3-b-t h3 a {
  color: inherit;
}
.section3 .content .s3-b-b .s3-boxes2 .s3-b-t .s3-link {
  height: 34px;
  line-height: 36px;
  padding: 0 20px;
  font-size: 14px;
  text-transform: capitalize;
  color: #fff;
  background: #2b4eff;
  border-radius: 4px;
  font-weight: 500;
  display: inline-block;
  text-align: center;
}
.section3 .content .s3-b-b .s3-boxes2 .s3-b-t .s3-link:hover {
  color: #fff;
  box-shadow: 0 10px 24px rgba(4, 23, 118, 0.3019607843);
}
.section3 .content .s3-b-b .s3-boxes2 .s3-img {
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  right: 10px;
}

.section4 {
  padding: 115px 0 120px 0;
  background: #f3f4f8;
}
.section4 .content .s4-incontent {
  width: 100%;
  padding: 0 12px;
}
.section4 .content .s4-incontent h2 {
  font-size: 40px;
  color: #0e1133;
  text-transform: capitalize;
  margin-bottom: 3px;
}
.section4 .content .s4-incontent p {
  font-size: 16px;
  color: #53545b;
  font-family: Hind, sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
  line-height: 26px;
}
.section4 .content .s4-incontent .buttons {
  display: flex;
  gap: 40px;
  margin-top: 60px;
}
.section4 .content .s4-incontent .buttons button {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #0e1133;
  background: transparent;
  text-transform: capitalize;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  font-family: "Roboto", sans-serif;
}
.section4 .content .s4-incontent .buttons button:hover {
  color: #2b4eef;
}
.section4 .content .s4-incontent .buttons .active {
  color: #2b4eef;
}
.section4 .content .s4-incontent .s4-boxes {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
  row-gap: 30px;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.section4 .content .s4-incontent .s4-boxes .s4-box {
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  height: 491.51px;
}
.section4 .content .s4-incontent .s4-boxes .s4-box:hover a img {
  transform: scale(1.1);
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-box-img {
  width: 100%;
  height: 223.71px;
  overflow: hidden;
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-box-img a img {
  width: 100%;
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-link {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-link a {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background: #b128ff;
  padding: 0 10px;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-b-text {
  padding: 25px 30px;
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-b-text .s4-b-text-spans {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-b-text .s4-b-text-spans span {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #6d6e75;
  line-height: 26px;
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-b-text .s4-b-text-spans span .fa-star {
  color: #ff9415;
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-b-text h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #0e1133;
  line-height: 1.2;
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-b-text h3 a {
  color: #0e1133;
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-b-text h3 a:hover {
  color: #2b4eef;
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-b-text .s4-s-img {
  display: flex;
  align-items: center;
  gap: 15px;
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-b-text .s4-s-img img {
  width: 35px;
  height: 35px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 10px 14px rgba(1, 11, 60, 0.1019607843);
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-b-text .s4-s-img h6 {
  font-size: 16px;
  font-weight: 500;
  color: #53545b;
  margin-bottom: 0;
  line-height: 1;
  padding-top: 2px;
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-b-text .s4-s-img h6 a {
  color: inherit;
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-b-text .s4-s-img h6 a:hover {
  color: #2b4eef;
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-prices {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px 10px;
  border-top: 1px solid #f0f0f5;
  align-self: center;
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-prices .s4-p-number {
  display: flex;
  align-items: center;
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-prices .s4-p-number .number1 {
  font-size: 20px;
  color: #b128ff;
  font-weight: 800;
  padding-right: 5px;
  font-family: "Roboto", sans-serif;
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-prices .s4-p-number .number2 {
  font-size: 14px;
  color: #6d6e75;
  text-decoration: line-through;
  font-weight: 800;
  padding-right: 5px;
  font-family: "Roboto", sans-serif;
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-prices .s4-p-link a {
  color: #0e1133;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  padding-right: 21px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-prices .s4-p-link a:hover {
  color: #2b4eef;
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-prices .s4-p-link a:hover .first-arrow {
  right: 0;
  visibility: visible;
  opacity: 1;
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-prices .s4-p-link a:hover .second-arrow {
  right: -10px;
  visibility: hidden;
  opacity: 0;
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-prices .s4-p-link a i {
  font-size: 14px;
  position: absolute;
  top: 12px;
  transform: translateY(-50%);
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-prices .s4-p-link a .first-arrow {
  right: 10%;
  visibility: hidden;
  opacity: 0;
}
.section4 .content .s4-incontent .s4-boxes .s4-box .s4-prices .s4-p-link a .second-arrow {
  right: 0;
}

.section5 {
  width: 100%;
  height: 100vh;
  padding-top: 115px;
  padding-bottom: 120px;
  position: relative;
}
.section5 img {
  position: absolute;
  z-index: -1;
}
.section5 .s-content {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.section5 .s-content h2 {
  text-align: center;
  font-size: 40px;
  line-height: 1;
  margin-bottom: 3px;
  position: relative;
}
.section5 .s-content p {
  text-align: center;
  margin-bottom: 70px;
}
.section5 .s-content .s5-divs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section5 .s-content .s5-divs .s5-div {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 976px;
  height: 115.8px;
  padding: 28px 50px;
  border-radius: 6px;
  box-shadow: 0 30px 50px rgba(1, 11, 60, 0.1019607843);
  margin: 0 auto;
  background-color: #ffffff;
}
.section5 .s-content .s5-divs .s5-div .s5-div-spans {
  margin-bottom: 5px;
}
.section5 .s-content .s5-divs .s5-div .s5-div-spans span {
  display: inline-block;
  position: relative;
  padding-right: 7px;
  margin-right: 7px;
}
.section5 .s-content .s5-divs .s5-div .s5-div-spans .border1::after {
  position: absolute;
  content: "";
  right: 0;
  top: 5px;
  width: 2px;
  height: 14px;
  background: #6d6e75;
}
.section5 .s-content .s5-divs .s5-div .s5-div-spans .border2::after {
  position: absolute;
  content: "";
  right: 0;
  top: 5px;
  width: 1px;
  height: 14px;
  background: #6d6e75;
}
.section5 .s-content .s5-divs .s5-div h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
}
.section5 .s-content .s5-divs .s5-div h3:hover {
  color: #2b4eef;
}
.section5 .s-content .s5-divs .s5-div h3 a {
  color: inherit;
  outline: none;
  border: none;
}
.section5 .s-content .s5-divs .s5-div .s5-link a {
  color: #0e1133;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  padding-right: 21px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
}
.section5 .s-content .s5-divs .s5-div .s5-link a:hover {
  color: #2b4eef;
}
.section5 .s-content .s5-divs .s5-div .s5-link a:hover .first-arrow {
  right: 0;
  visibility: visible;
  opacity: 1;
}
.section5 .s-content .s5-divs .s5-div .s5-link a:hover .second-arrow {
  right: -10px;
  visibility: hidden;
  opacity: 0;
}
.section5 .s-content .s5-divs .s5-div .s5-link a i {
  font-size: 14px;
  position: absolute;
  top: 12px;
  transform: translateY(-50%);
  transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
}
.section5 .s-content .s5-divs .s5-div .s5-link a .first-arrow {
  right: 10%;
  visibility: hidden;
  opacity: 0;
}
.section5 .s-content .s5-divs .s5-div .s5-link a .second-arrow {
  right: 0;
}
.section5 .s-content .s5-divs .div2 {
  position: relative;
}
.section5 .s-content .s5-divs .div2::after {
  top: 0;
  height: 100%;
  position: absolute;
  content: "";
  left: -3px;
  width: 5%;
  background: #2b4eff;
  border-radius: 6px;
  z-index: -500;
}
.section5 .s-content .s5-divs .div1::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: -3px;
  width: 10%;
  height: 0%;
  background: #2b4eff;
  border-radius: 6px;
  transition: height 0.3s ease-out;
  z-index: -1;
}
.section5 .s-content .s5-divs .div1:hover::after {
  top: 0;
  height: 100%;
}

.section6 {
  padding-top: 160px;
  padding-bottom: 130px;
  z-index: 100;
}
.section6 .content-s6 {
  width: 1200px;
  margin: 0 auto;
}
.section6 .content-s6 h2,
.section6 .content-s6 p {
  text-align: center;
}
.section6 .content-s6 .s6-btns {
  margin-top: 60px;
  width: 100%;
  text-align: center;
}
.section6 .content-s6 .s6-btns button {
  border-radius: 0;
  border-radius: 4px 0 0 4px;
  background: transparent;
  padding: 0 15px;
  font-size: 14px;
  color: #121317;
  font-weight: 500;
  height: 36px;
  line-height: 34px;
  border: 2px solid #edeef3;
  text-transform: capitalize;
  margin-right: -4px;
  cursor: pointer;
}
.section6 .content-s6 .s6-btns .btn-2 {
  background: #2b4eff;
  color: #fff;
  border-color: #2b4eff;
  border-left: 0;
  border-radius: 0 4px 4px 0;
}
.section6 .content-s6 .s6-boxes {
  width: 83.333%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  gap: 24px;
  padding: 0 12px;
}
.section6 .content-s6 .s6-boxes .s6-box {
  padding: 45px 50px 60px;
  border-radius: 6px;
  background: #f3f4f8;
  position: relative;
  margin-bottom: 30px;
  width: 50%;
}
.section6 .content-s6 .s6-boxes .s6-box .s6-best {
  position: absolute;
  top: 20px;
  right: -15px;
  z-index: 1;
}
.section6 .content-s6 .s6-boxes .s6-box .s6-best span {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: #f2277e;
  padding: 0 10px;
  border-radius: 4px 4px 0;
  position: relative;
}
.section6 .content-s6 .s6-boxes .s6-box .s6-best span::after {
  position: absolute;
  content: "";
  bottom: -10px;
  right: 0;
  width: 0;
  height: 0;
  border-left: 15px solid #960443;
  border-top: 0px solid transparent;
  border-bottom: 10px solid transparent;
}
.section6 .content-s6 .s6-boxes .s6-box .s6-box-titles h3 {
  font-size: 26px;
  margin-bottom: 5px;
}
.section6 .content-s6 .s6-boxes .s6-box .s6-box-titles p {
  text-align: left;
  color: #53545b;
  margin-bottom: 17px;
  line-height: 26px;
  font-size: 16px;
  font-weight: 400;
}
.section6 .content-s6 .s6-boxes .s6-box .s6-prices {
  padding-bottom: 13px;
  border-bottom: 1px solid #e0e3ed;
  margin-bottom: 25px;
}
.section6 .content-s6 .s6-boxes .s6-box .s6-prices h4 {
  font-size: 50px;
  margin-bottom: 0;
}
.section6 .content-s6 .s6-boxes .s6-box .s6-prices h4 span {
  font-size: 16px;
  font-weight: 400;
}
.section6 .content-s6 .s6-boxes .s6-box .s6-services {
  margin-bottom: 40px;
}
.section6 .content-s6 .s6-boxes .s6-box .s6-services ul li {
  margin-bottom: 10px;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: #0e1133;
  position: relative;
  padding-left: 30px;
}
.section6 .content-s6 .s6-boxes .s6-box .s6-services ul li:hover {
  color: #30a820;
}
.section6 .content-s6 .s6-boxes .s6-box .s6-services ul li:hover i {
  background-color: #30a820;
  color: #fff;
}
.section6 .content-s6 .s6-boxes .s6-box .s6-services ul li i {
  position: absolute;
  left: 0;
  top: 3px;
  display: inline-block;
  color: #30a820;
  font-size: 8px;
  height: 18px;
  width: 18px;
  line-height: 18px;
  text-align: center;
  border-radius: 50%;
  background: rgba(48, 168, 32, 0.1);
}
.section6 .content-s6 .s6-boxes .s6-box a {
  height: 46px;
  line-height: 44px;
  border: 2px solid #2b4eff;
  background: #2b4eff;
  color: #fff;
  display: inline-block;
  text-align: center;
  padding: 0 25px;
  border-radius: 4px;
  font-weight: 500;
}
.section6 .content-s6 .s6-boxes .s6-box a:hover {
  color: #fff;
  box-shadow: 0 10px 24px rgba(4, 23, 118, 0.3019607843);
}
.section6 .content-s6 .s6-boxes .s6-box .s6-right-link {
  border: 2px solid #d7d9e3;
  color: #0e1133;
  background: transparent;
}
.section6 .content-s6 .s6-boxes .s6-box .s6-right-link:hover {
  background: #2b4eff;
  border-color: #2b4eff;
  color: #fff;
}

.section7 {
  padding: 190px 0px 40px;
  background: #0e1133;
  z-index: 10;
}
.section7 .footer-content {
  width: 1200px;
  padding: 0 12px;
  margin: 0 auto;
  display: flex;
}
.section7 .footer-content h3 {
  padding-top: 5px;
  font-size: 20px;
  color: #fff;
  margin-bottom: 30px;
  line-height: 1.2;
}
.section7 .footer-content .company {
  padding: 0 12px;
  margin-left: 100px;
  width: 200px;
  height: 307px;
}
.section7 .footer-content .company ul li {
  margin-bottom: 4px;
}
.section7 .footer-content .company ul li a {
  color: #a1a2ab;
}
.section7 .footer-content .company ul li a:hover {
  color: #fff;
}
.section7 .footer-content .platform {
  padding: 0 12px;
  width: 200px;
  height: 307px;
}
.section7 .footer-content .platform ul li {
  margin-bottom: 4px;
}
.section7 .footer-content .platform ul li a {
  color: #a1a2ab;
}
.section7 .footer-content .platform ul li a:hover {
  color: #fff;
}
.section7 .footer-content .educal {
  width: 300px;
  height: 307px;
  padding: 0 12px;
}
.section7 .footer-content .educal .educal-link {
  display: inline-block;
  margin-bottom: 22px;
}
.section7 .footer-content .educal p {
  font-size: 16px;
  line-height: 24px;
  color: #a1a2ab;
  margin-bottom: 30px;
  font-weight: 400;
}
.section7 .footer-content .educal ul {
  display: flex;
}
.section7 .footer-content .educal ul li {
  margin-right: 10px;
}
.section7 .footer-content .educal ul li a {
  display: inline-block;
  font-size: 15px;
  width: 44px;
  height: 44px;
  line-height: 46px;
  text-align: center;
  border: 2px solid #285da1;
  background: #285da1;
  border-radius: 4px;
  color: #fff;
}
.section7 .footer-content .educal ul li a:hover {
  background: transparent;
  color: #285da1;
}
.section7 .footer-content .educal ul li .blue {
  background-color: #03a9f4;
  border: 2px solid #03a9f4;
}
.section7 .footer-content .educal ul li .blue:hover {
  background: transparent;
  color: #03a9f4;
}
.section7 .footer-content .educal ul li .red {
  background-color: #d2173f;
  border: 2px solid #d2173f;
}
.section7 .footer-content .educal ul li .red:hover {
  background: transparent;
  color: #d2173f;
}
.section7 .footer-content .subscribe {
  padding-left: 70px;
  margin-bottom: 50px;
  width: 376px;
  height: 166px;
}
.section7 .footer-content .subscribe .s7-search {
  width: 100%;
  position: relative;
}
.section7 .footer-content .subscribe .s7-search form input {
  width: 100%;
  height: 60px;
  padding: 0 50px 0 30px;
  border-radius: 4px;
  border: none;
  outline: none;
}
.section7 .footer-content .subscribe .s7-search .arrows {
  position: absolute;
  top: 0;
  right: 0;
}
.section7 .footer-content .subscribe .s7-search .arrows button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 18px;
  color: #fff;
  background: #2b4eff;
  width: 70px;
  height: 60px;
  padding-right: 25px;
  outline: none;
  border: none;
}
.section7 .footer-content .subscribe .s7-search .arrows button i {
  position: absolute;
  top: 30%;
  right: 40%;
  font-size: 20px;
  transition: all 0.3s ease-out;
}
.section7 .footer-content .subscribe .s7-search .arrows button:hover .first-arrow {
  left: 20px;
  visibility: visible;
  opacity: 1;
}
.section7 .footer-content .subscribe .s7-search .arrows button:hover .second-arrow {
  visibility: hidden;
  opacity: 0;
  right: 0;
}
.section7 .footer-content .subscribe .s7-search .arrows button .first-arrow {
  position: absolute;
  left: -70px;
  visibility: hidden;
  opacity: 0;
}
.section7 .footer-content .subscribe .s7-search .arrows button .second-arrow {
  position: absolute;
  opacity: 1;
  visibility: visible;
}

.section8 {
  margin-bottom: -120px;
}
.section8 .content {
  padding: 0 12px;
}
.section8 .content .s8-content {
  padding: 50px 100px 53px 70px;
  border-radius: 10px;
  box-shadow: 0 30px 60px rgba(0, 4, 48, 0.3019607843);
  position: relative;
  z-index: 1;
  background: #2b4eff;
  width: 100%;
  overflow: hidden;
}
.section8 .content .s8-content .s8-img img {
  position: absolute;
  bottom: -48px;
  right: -148px;
}
.section8 .content .s8-content .s8-titles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section8 .content .s8-content .s8-titles .s8-title {
  width: 58.3333%;
}
.section8 .content .s8-content .s8-titles .s8-title h3 {
  position: relative;
  z-index: 1;
  font-size: 46px;
  color: #fff;
  max-width: 560px;
  margin-bottom: 0;
}
.section8 .content .s8-content .s8-titles .s8-link {
  width: 41.333%;
  display: flex;
  justify-content: end;
}
.section8 .content .s8-content .s8-titles .s8-link a {
  display: inline-block;
  height: 54px;
  line-height: 58px;
  background: #ffffff;
  color: #0e1133;
  padding: 0 45px;
  border-radius: 4px;
  font-weight: 500;
  text-align: center;
  z-index: 1;
}
.section8 .content .s8-content .s8-titles .s8-link a:hover {
  box-shadow: 0 10px 24px rgba(4, 23, 118, 0.3019607843);
}/*# sourceMappingURL=main.css.map */